<form method="post" action="{{ path('app_argonaute_delete', {'id': argonaute.id}) }}" onsubmit="return confirm('Vous allez effectuer une suppression');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ argonaute.id) }}">
    <button class="btn"><i class="far fa-trash-alt"></i></button>
</form>
