@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  height: 100vh;
}

main {
  max-width: 960px;
  margin: 0 auto;
  height: 50vh;
}

header {
  background: #f4f4f4;
  text-align: center;
  padding: 2em;

}

header img {
  max-width: 96px;
}

header h1 {
  font-size: 2.5em;
}

footer {
  width: 100%;
  position: absolute;
  bottom:0;
  background: $primaryColor;
}

h1, h2 {
  text-align: center;
}

label {
  display: block;
  margin-bottom: 0.5em;
}

.new-member-form {
  margin: 2em 0 4em 0;
  text-align: center;
}

.member-item {
  padding: 0.25em 0;
}

footer {
  margin-top: 2em;
  text-align: center;
  color: #fff;
  padding: 0.25em 0;
  width: 100%;
  position: absolute;
  bottom:0;
  background: $primaryColor;
}